h1 {
font-family: Arial, sans-serif;
text-align: center;
margin-top: 50px;
color: rgb(112, 19, 47);
}

.hsegundo {
font-family: Arial, sans-serif;
text-align: center;
color: rgb(171, 61, 94);
}

h2 {
font-family: Arial, sans-serif;
color: rgb(171, 61, 94);
}

h3 {
font-family: Arial, sans-serif;
color: rgb(112, 19, 47);
}

.hterceiro {
font-family: Arial, sans-serif;
color: rgb(171, 61, 94);
}

h4, p {
font-family: Arial, sans-serif;
}

button {
background-color: rgb(255, 127, 148);
color: white;
padding: 10px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
}

button:hover {
background-color: rgb(255, 96, 122);
}
